@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
    padding: 40px;
}

h1,
h3 {
    font-family: 'Montserrat';
}

.container-album {
    height: 250px;
    width: 250px;
    margin: 0 auto;
    background: url('StadiumArcadium.jpg') no-repeat;
}

li {
    font-style: italic;
}
